<section>
    <img src="images/persoon6.jpg" alt="Profielfoto">
    <div>
        <img src="images/persoon5.jpg" alt="Extra foto 1">
        <img src="images/persoon4.jpg" alt="Extra foto 2">
        <img src="images/persoon3.jpg" alt="Extra foto 3">
        <img src="images/persoon2.jpg" alt="Extra foto 4">
        <img src="images/persoon1.jpg" alt="Extra foto 5">
        <img src="" alt="">
    </div>
</section>