<!DOCTYPE html>
<html lang="nl">
    <head>
		<meta charset="UTF-8">
		<meta name="author" content="Danny Frelink">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Profiel</title>

		<link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
        <footer>
            <img src="images/footer/persoonsgegevens-groen.png" alt="Gegevens icoon groen">
            <img src="images/footer/stip-groen.png" alt="Stip groen">
            <img src="images/footer/fotos-groen.png" alt="Foto icoon groen">
            <img src="images/footer/stip-groen.png" alt="Stip groen">
            <img src="images/footer/zoekopdracht-groen.png" alt="Zoek icoon groen">
            <img src="images/footer/stip-groen.png" alt="Stip groen">
            <img src="images/footer/reizen-groen.png" alt="Reis icoon groen">
        </footer>

    </body>
</html>