<form class="fotos" action="">

    <input type="file" id="pfImage" name="pfImage" accept="image/*" multiple>
    <div>
        <label for="pfImage">+</label>
        <div>
            <label for="pfImage">+</label>
            <label for="pfImage">+</label>
        </div>
    </div>
    <div>
        <label for="pfImage">+</label>
        <label for="pfImage">+</label>
        <label for="pfImage">+</label>
    </div>
    <div>
        <label for="pfImage">+</label>
        <label for="pfImage">+</label>
        <label for="pfImage">+</label>
    </div>

    {{!-- <input type="file" id="extraImg1" name="extraImg1" accept="image/*" multiple>
    <label for="extraImg1">+</label>

    <input type="file" id="extraImg2" name="extraImg2" accept="image/*" multiple>
    <label for="extraImg2">+</label>

    <input type="file" id="extraImg3" name="extraImg3" accept="image/*" multiple>
    <label for="extraImg3">+</label>

    <input type="file" id="extraImg4" name="extraImg4" accept="image/*" multiple>
    <label for="extraImg4">+</label>

    <input type="file" id="extraImg5" name="extraImg5" accept="image/*" multiple>
    <label for="extraImg5">+</label> 

    <input type="file" id="extraImg6" name="extraImg6" accept="image/*" multiple>
    <label for="extraImg6">+</label>

    <input type="file" id="extraImg7" name="extraImg7" accept="image/*" multiple>
    <label for="extraImg7">+</label>

    <input type="file" id="extraImg8" name="extraImg8" accept="image/*" multiple>
    <label for="extraImg8">+</label> --}}

    <div>
        <img src="images/pijl-vorige.png" alt="Vorige pagina">
        <button><img src="images/pijl-volgende.png" alt="Volgende pagina"></button>
    </div>

</form>

<footer>
    <img src="images/footer/persoonsgegevens-groen.png" alt="Gegevens icoon groen">
    <img src="images/footer/stip-groen.png" alt="Stip groen">
    <img src="images/footer/fotos-wit.png" alt="Foto icoon wit">
    <img src="images/footer/stip-wit.png" alt="Stip wit">
    <img src="images/footer/zoekopdracht-opacity.png" alt="Zoek icoon doorzichtig">
    <img src="images/footer/stip-wit.png" alt="Stip wit">
    <img src="images/footer/reizen-opacity.png" alt="Reis icoon doorzichtig">
</footer>
