<form class="zoekopdracht" action="">
    <div>
        <label>Ik ben op zoek naar een:</label>
        <div>
            <label for="man">Man</label>
            <input type="checkbox" id="man" name="man">
            <label for="vrouw">Vrouw</label>
            <input type="checkbox" id="vrouw" name="vrouw">
            <div>
                <input type="checkbox" id="geenVoorkeur" name="geenVoorkeur">
                <label for="geenVoorkeur">Geen voorkeur</label>
            </div>
        </div>
    </div>

    <div>
        <label>Met deze nationaliteit:</label>
        <div>
            <label for="man">Man</label>
            <input type="checkbox" id="man" name="man">
            <label for="vrouw">Vrouw</label>
            <input type="checkbox" id="vrouw" name="vrouw">
            <div>
                <input type="checkbox" id="geenVoorkeur" name="geenVoorkeur">
                <label for="geenVoorkeur">Geen voorkeur</label>
            </div>
        </div>
    </div>



    <div>
        <img src="images/pijl-vorige.png" alt="Vorige pagina">
        <button><img src="images/pijl-volgende.png" alt="Volgende pagina"></button>
    </div>
</form>

<footer>
    <img src="images/footer/persoonsgegevens-groen.png" alt="Gegevens icoon groen">
    <img src="images/footer/stip-groen.png" alt="Stip groen">
    <img src="images/footer/fotos-groen.png" alt="Foto icoon groen">
    <img src="images/footer/stip-groen.png" alt="Stip groen">
    <img src="images/footer/zoekopdracht-wit.png" alt="Zoek icoon wit">
    <img src="images/footer/stip-wit.png" alt="Stip wit">
    <img src="images/footer/reizen-opacity.png" alt="Reis icoon doorzichtig">
</footer>