html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(#95D8EA, #529ECC);
    background-attachment: fixed;
}

body {
    position: relative;
    height: 100vh;
    width: 90vw;
    margin: auto;
    overflow-x: hidden;
}

form {
    margin: 2em auto 1em;
    display: flex;
    flex-direction: column;
}
form div {
    display: flex;
    flex-direction: column;
}
form>div {
    flex-direction: row;
    justify-content: space-between;
}
form input,
form select,
form textarea {
    margin-bottom: 0.5em;
}
form>input {
    width: 60vw;
}
form div div:first-of-type {
    width: 37vw;
}
form div div:nth-of-type(2) {
    width: 48vw;
}
form div div:nth-of-type(2) textarea {
    height: 100%;
}
form button {
    position: absolute;
    bottom: 4.6em;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
}
form button img {
    width: 3.08em;
    height: 3.08em;
}
form img {
    background-color: #A9DEEA;
    padding: 0.2em;
    width: 2.5em;
    height: 2.5em;
    margin: 0;
    border-radius: 10vw;
    border: 1px solid black;
}
form>div:nth-of-type(2)>img {
    position: absolute;
    bottom: 4em;
    left: 0;
}
::placeholder {
    opacity: 0.8;
}

section:first-of-type {
    display: flex;
    margin-bottom: 1.5em;
}
section img {
    object-fit: cover;
    border: 1px solid black;
}
section>img {
    width: 8em;
    height: 8em;
    margin-right: auto;
}
section div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
section div img {
    width: 3.5em;
    height: 3.5em;
}
section div img:last-of-type {
    opacity: 0;
}
section div img:nth-of-type(4),
section div img:nth-of-type(5) {
    margin-top: auto;
}

section:not(:first-of-type) {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 1.5em;
}
section p {
    margin: 0.5em 0.2em;
}

section:last-of-type {
    border: none;
}
section:last-of-type img {
    position: absolute;
    bottom: 4em;
    background-color: #A9DEEA;
    padding: 0.2em;
    width: 2.5em;
    height: 2.5em;
    margin: 0;
    border-radius: 10vw;
    border: 1px solid black;
}
section:last-of-type img:first-of-type {
    left: 0;
}
section:last-of-type img:nth-of-type(2) {
    right: 0;
}

footer {
    width: 90vw;
    position: fixed;
    bottom: 0.5em;
    right: auto;
    left: auto;
    display: flex;
    justify-content: center;
}
footer img {
    width: 2.5em;
    height: auto;
}
footer img:nth-of-type(1),
footer img:nth-of-type(3),
footer img:nth-of-type(5),
footer img:nth-of-type(7) {
    margin: auto -0.3em;
}